.profile-container{
    width: 100vw;
    height: 90vh;
    /* height: max-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
}
.logout-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 10vh;
    padding: 5px;
}
.logout-container button{
    margin: 20px;
}

.logout-container h2{
  width: 15%;
  font-weight: 700;
  border-bottom: 5px solid #d8c593;
  padding: 5px;
}
/* CSS */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}
.user-info{
  width: 25%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  justify-content: center;
  gap: 20px;
}
.user-info img{
  width: 30%;
  height: auto;
  border-radius: 50% 50%;
  border: 1px solid #EFEBE9;
}